.health-page {
  border-radius: 20px;
  align-items: center;
}

#health-header {
  display: flex;
  align-items: center;
  margin-left: 500px;
  width: 2500px;
}

.macro-form-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 10px;
}

.input-form-container {
  margin: 3px;
  display: flex;
  flex-direction: column;
  width: 350px;
  box-sizing: content-box;
  text-align: left;
}

.macro-goals-display-container {
  display: block;
  border: solid 2px;
  margin-left: 10px;
  width: 290px;
  height: 180px;
  box-sizing: content-box;
  text-align: left;
}
