/* Recommendations.css */
#recommendations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#recommendations-header {
  width: 100%;
  border: 8px solid rgb(0, 140, 255);
  height: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#recommendations-heading {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 50%;
}

.recipe-type-button.active {
  background-color: #333;
  color: #fff;
}

#recipe-selection-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 8px solid rgba(250, 173, 66, 0.951);
}

#center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

/* GPT.css */
#chat-container {
  max-width: 100rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

#gpt-response-container {
  max-height: 100vh;
  overflow-y: hidden;
  text-align: center;
  background-color: #fff;
  padding: 4px;
  border: 8px solid rgba(250, 173, 66, 0.951);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  height: 100%;
}

#response-container-label {
  background-color: rgb(0, 140, 255);
  color: white;
  font-weight: 600;
  padding: 4px;
  width: 100%;
}

#response-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  overflow-y: auto;
  max-height: 95%;
}

.meal-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meal-card img {
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: contain;
}

.meal-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.meal-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.meal-card-summary {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.meal-card-inspiration {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.meal-card-reasoning {
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.meal-card-button {
  margin-top: 10px;
}

.response-item {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.pre-style {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-width: 100%;
  max-height: 100%;
}
